@page "{kh?}/{bh?}"
@model HocGiDo_CORE.Pages.hocModel
@{
}

@section header{
    <link rel="stylesheet" type="text/css" href="~/css/baihoc.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Resource/lib/codemirror.css">
    <link rel="stylesheet" href="~/Resource/lib/theme/dracula.css">
    <script src="~/Resource/lib/codemirror.js"></script>
    <script type="text/javascript" src="~/Resource/mode/xml/xml.js"></script>
    <script type="text/javascript" src="~/Resource/mode/css/css.js"></script>
    <script type="text/javascript" src="~/Resource/mode/clike/clike.js"></script>
    <script src="https://unpkg.com/typeit@8.0.3/dist/index.umd.js"></script>
    <script src="~/Resource/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

<div class="main_content">
    <div class="left_content">
        <video class="videoPlayer" width="100%" controls muted="muted" autoplay>
            @*<source src="https://meet-hgd.herokuapp.com/video?url=@Model.lesson.Video" type="video/mp4" />*@
        </video>
        <div class="detail">
            <div class="tab" id="tab">
                @if (Model.checkSavedLesson)
                {
                    <button class="tablinks savedLesson save"><i class='bx bx-check-circle'></i>Đã lưu</button>
                }
                else
                {
                    <button class="tablinks saveLesson save"><i class='bx bx-save'></i>Lưu bài</button>
                }
                <button class="tablinks links" onclick="openCity(event, 'cmt')"><i class='bx bx-comment-detail'></i>Bình luận</button>
                <button class="tablinks links" onclick="openCity(event, 'subject')"><i class='bx bx-book-reader'></i>Bài học</button>
            </div>
            <div id="subject" class="tabcontent">
                <h3>@Model.lesson.GioiThieu</h3>
                <div id="descripsion"></div>
                <h3>Ví dụ:</h3>
                <div class="example">
                    <div id="choice">
                        <button class="btnChoice">HTML</button>
                        <button class="btnChoice">CSS</button>
                        <button class="btnChoice">JS</button>
                    </div>
                    <div class="code">
                        <textarea id="code"></textarea>
                    </div>
                    <div class="code">
                        <textarea id="css"></textarea>
                    </div>
                    <div class="code">
                        <textarea id="js"></textarea>
                    </div>
                </div>
                <div class="exampleBackEndCode">
                    <textarea rows="5" placeholder="Backend Code" id="backend"></textarea>
                </div>
                <div class="tryIt">
                    <a href="/code/@Model.courseID/@Model.lesson.MaBaiHoc">Thử code nào!</a>
                </div>
                <script>
                    var test_case_array = [];
                </script>
                @{ var i = 1; var j = 1; bool isEssay = true;}
                @foreach (var items in Model.listQuestion.CauHoi)
                {
                    @if (items.TheLoai.Equals("tracnghiem"))
                    {
                        isEssay = false;
                        <div class="exam">
                            <p id="questName">Câu @i: @items.NoiDungCauHoi</p>
                            <form class="answer">
                                @if (items.DapAn != null)
                                {
                                    @foreach (var items2 in items.DapAn)
                                    {
                                        <div><input type="radio" name="@i" value="@items2.NoiDungDapAn" id="@i@j"><label for="@i@j">@items2.NoiDungDapAn</label></div><br>
                                        j++;
                                    }
                                }
                            </form>
                        </div>
                        i++;
                        j = 1;
                    }
                    else
                    {
                        <div class="exam_essay">
                            <h4>@items.NoiDungCauHoi</h4>
                            <textarea id="essayCode" name="codeEssay" placeholder="Code trực tiếp ở đây"></textarea>
                            <button id="runTestCase">Chạy test case!</button>
                            <div id="testCaseList">

                            </div>
                        </div>

                        @if (items.DapAn != null)
                        {
                            <script>
                                var myCodeMirrorEssay = CodeMirror.fromTextArea(essayCode, {
                                    tabSize: 4,
                                    mode: "javascript",
                                    theme: 'dracula',
                                    styleActiveSelected: true,
                                    styleActiveLine: true,
                                    indentWithTabs: true,
                                    matchBrackets: true,
                                    highlightMatches: true,
                                })
                            </script>
                            var hidden = 0;
                            @foreach (var item in items.DapAn)
                            {
                                <script>
                                    var check = @hidden;
                                    var descrypted = CryptoJS.AES.decrypt('@Html.Raw(item.NoiDungDapAn)', '@Model.lessonID').toString(CryptoJS.enc.Utf8);
                                    descrypted = JSON.parse(descrypted);
                                    var array = {
                                        "array": JSON.parse(descrypted.array),
                                        "result": descrypted.result,
                                        "MaDA": '@item.MaDapAn'
                                    }

                                    test_case_array.push(array);
                                    $('#testCaseList').append('<input class="testCaseDetail" id="@item.MaDapAn" type="text" disabled value="Test case: ' + check + ' - ' + descrypted.array + '">');

                                </script>

                                hidden++;
                            }
                        }
                    }
                }
                @if (Model.listQuestion.CauHoi.Count > 0 && !isEssay)
                {
                    <button class="submit">Kiểm tra!</button>
                }
            </div>

            <div id="cmt" class="tabcontent">
                @* Load here *@
            </div>
        </div>
    </div>
    <div class="right_content">
        <h3>Danh sách bài học</h3>
        <div class="ds">
            @foreach (var items in Model.listLesson.BaiHoc)
            {
                <a href="/hoc/@Model.courseID/@items.MaBaiHoc">
                    <div class="baihoc">
                        <i class='bx bx-play-circle'></i>
                        <p id="name">@items.TenBaiHoc</p>
                        <i id="number" class='bx bx-lock-open'></i>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<script src="~/js/baihoc.js"></script>
<script>
    setCodeExample("@Html.Raw(@Model.lesson.CodeMau)", "@Html.Raw(@Model.lesson.MaKH)");
    setDescripsion("@Html.Raw(Model.lesson.LyThuyet)", "@Html.Raw(@Model.lesson.MaKH)");
</script>

@*@section footer{
        <script src="~/js/baihoc.js"></script>
    }*@
<script>

    $("#runTestCase").click(function (e) {
        e.preventDefault();

        var code_to = myCodeMirrorEssay.getValue();
        try {
            test_case_array.forEach(function (items, index) {
                var Array_test = items.array;
                var result_code = new Function('Array_test', code_to)(Array_test)
                if (result_code == items.result) {
                    console.log("case " + Number(index + 1) + "đúng")
                    $("#" + items.MaDA.toString()).css({ backgroundColor: "#3AC37F" });
                } else {
                    console.log("case " + Number(index + 1) + " sai")
                    $("#" + items.MaDA.toString()).css({ backgroundColor: "#ED5B5B" });
                };
            })
        } catch (err) {
            alert("Lỗi code " + err);
        }
    })

    $(".submit").click(function (e) {
        e.preventDefault();

        //get correct answers list
        var correctAnswersList = [];
        var arrayQuestions = JSON.parse('@Html.Raw(Json.Serialize(Model.listQuestion))');
        console.log(arrayQuestions);
        arrayQuestions.cauHoi.forEach(function (current, index) {
            current.dapAn.forEach(function (curr, ind) {
                if (curr.dapAnDung == true) {
                    correctAnswersList.push(curr.noiDungDapAn);
                }
            })
        })

        console.log(correctAnswersList);

        //get answers from user
        var forms = document.getElementsByClassName("answer");
        var arrayAnswer = [];

        Array.prototype.forEach.call(forms, function (el, li) {
            for (var i = 0; i < forms[li].length; i++) {
                if (forms[li].getElementsByTagName("input")[i].checked) {
                    arrayAnswer.push(forms[li].getElementsByTagName("input")[i].value)
                }
            }
        });

        console.log(arrayAnswer);

        var is_same = (arrayAnswer.length == correctAnswersList.length) && correctAnswersList.every(function (element, index) {
            return correctAnswersList[index] == arrayAnswer[index];
        });

        if (is_same) {
            alert("Chính xác")
        } else {
            alert("Sai rồi")
        }
    })
</script>

<script>
    $(document).ready(function () {
        $('#cmt').load('/binhluanCon/?bh=' + '@Model.lesson.MaBaiHoc');
    })

    $(document).on('click', ".save", function (e) {
        console.log("click ajax")
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: "?MaBH=@Model.lesson.MaBaiHoc&handler=SaveLesson",

            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },

            success: function (data) {
                if (data.status == "success") {
                    if ('@Model.checkSavedLesson') {
                        @{Model.checkSavedLesson = false;}
                    }
                    else {
                        @{Model.checkSavedLesson = true;}
                    }
                    $("#tab").load(location.href + " #tab");
                }
            }
        })
    })

    $(document).on('click', ".sendComment", function (e) {
        console.log("click ajax send comment")
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: "?noiDung=" + document.getElementById("comment").value + "&maBaiHoc=@Model.lesson.MaBaiHoc&handler=SendComment",

            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },

            error: function (e) {
                console.log(e);
            },

            success: function (data) {
                if (data.message == "success") {
                    $('#cmt').load('/binhluanCon/?bh=' + '@Model.lesson.MaBaiHoc');
                    $("#cmt").animate({ scrollTop: $('#cmt').prop("scrollHeight") }, 1000);
                }
            }
        })
    })
</script>
