@page
@model HocGiDo_CORE.Pages.thongtinModel
@section header{
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/thongtin.css">
}

<div class="contain">
    <div class="left_contain">
        <h3>
            Thông tin cá nhân</h2>
            <div class="list_items">
                <div class="items" id="detail">
                    <i class='bx bx-user'></i>
                    <p>Thông tin</p>
                </div>
                <div class="items" id="save">
                    <i class='bx bx-heart'></i>
                    <p>Lưu bài học</p>
                </div>
                <div class="items" id="courseList">
                    <i class='bx bx-check'></i>
                    <p>Khóa học đã đăng ký</p>
                </div>
                <div class="items" id="setting">
                    <i class='bx bx-wrench'></i>
                    <p>Cài đặt</p>
                </div>
            </div>
    </div>
    <div class="right_contain">
        <div class="detail view">
            <div class="picture">
                <img src="~/Img/avatarZL.jpg">
                <p>@Model.userInf.user.HoTen</p>
            </div>
            <div class="information">
                <div class="box_inf">
                    <p class="tittle">Họ và tên:</p>
                    <input class="inf" type="text" value="@Model.userInf.user.HoTen" asp-for="userInf.user.HoTen" disabled>
                </div>
                <div class="box_inf ">
                    <p class="tittle ">Mật khẩu:</p>
                    <input class="inf" type="password" value="" placeholder="Mật khẩu mới" asp-for="userInf.user.MatKhau" disabled required>
                </div>
                <div class="box_inf">
                    <p class="tittle ">Ngày sinh:</p>
                    <input class="inf" id="date" type="date" asp-format="{0:yyyy-MM-dd}" value="@Model.userInf.user.NgaySinh" asp-for="userInf.user.NgaySinh" class="form-control" disabled>
                </div>
                <div class="box_inf ">
                    <p class="tittle ">Số điện thoại:</p>
                    <input class="inf" type="text" value="@Model.userInf.user.Sdt" asp-for="userInf.user.Sdt" disabled>
                </div>
                <div class="box_inf ">
                    <p class="tittle ">Thành Phố</p>
                    <input class="inf" type="text" value="@Html.Raw(Model.userInf.user.DiaChi)" asp-for="userInf.user.DiaChi" disabled>
                </div>
                <div class="box_inf ">
                    <p class="tittle ">Email</p>
                    <input class="inf" type="text" value="@Model.userInf.user.Email" asp-for="userInf.user.Email" disabled>
                </div>
            </div>
            <div class="Chance">
                <p id="chance_inf">Thay đổi thông tin cá nhân</p>
            </div>
        </div>
        <div class="save view">
            <div class="ds">
                @foreach (var items in Model.listSavedLesson.DanhSachLuuBaiHoc)
                {
                    <a href="/hoc/@items.MaKH/@items.MaBaiHoc">
                        <div class="baihoc">
                            <i class='bx bx-play-circle'></i>
                            <p id="name">@items.TenBaiHoc</p>
                            <i id="number" class='bx bx-lock-open'></i>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="courseList view">
            <div class="content">
                @foreach (var items in Model.listCourseRegisted.DanhSachKhoaHocDangKi)
                {
                    <a href="/baihoc/@items.MaKH" class="clickCourse">
                        <div class="course">
                            <p id="p1" style="background-color: @items.MauSac ;">
                                @items.TenKH
                                @{ var ImgCourse = items.MaKH + ".jpg";}
                                <img src="~/CourseImage/@ImgCourse">
                            </p>
                            <div class="discrip">
                                <p id="p2">@items.MoTaKH</p>
                                <div id="view">
                                    <i class='bx bx-user-check'></i>
                                    <span id="p3">@items.LuotDK</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<div style="clear: both; "></div>
@section footer{
    <script src="~/js/thongtin.js"></script>
}
