<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("header", false)
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="loading" id="load">
        <div class="imgLoad">
            <img src="https://i.pinimg.com/originals/ac/44/71/ac4471291c620d8dd47697a1d8da4975.gif">
        </div>
    </div>
    <div class="sideBar">
        <div class="logo_content">
            <div class="logo">
                <img src="~/Img/logo.png">
            </div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Tìm kiếm">
                </a>
            </li>
            <li>
                <a href="/" id="bx-home">
                    <i class='bx bx-home'></i>
                    <span class="links_name">Trang chủ</span>
                </a>
            </li>
            <li>
                <a href="#" id="bxs-book-content">
                    <i class='bx bxs-book-content'></i>
                    <span class="links_name">Bài học</span>
                </a>
            </li>
            <li>
                <a href="/code" id="bx-laptop">
                    <i class='bx bx-laptop'></i>
                    <span class="links_name">Không gian code</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-bookmarks'></i>
                    <span class="links_name">Đã lưu</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Người dùng</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-wrench'></i>
                    <span class="links_name">Cài đặt</span>
                </a>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="~/Img/avatarZL.jpg">
                    <div class="name_job">
                        <div class="name">Hoc Gi Do</div>
                        <div class="job">hocgido.gq</div>
                    </div>
                </div>
                <a href="/dangnhap" style="color:white"><i class='bx bx-log-out' id="logout"></i></a>
            </div>
        </div>
    </div>
    <div class="home_content" id="home_content">
        <div class="navigation">
            <div id="openSide">
                <i class='bx bx-menu-alt-left' id="openMenu"></i>
                <div class="Side" id="Side">
                    <i class='bx bx-x' id="closeMenu"></i>
                    <li>
                        <a href="#" id="bx-home">
                            <i class='bx bx-home'></i>
                            <span class="links_name">Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="bxs-book-content">
                            <i class='bx bxs-book-content'></i>
                            <span class="links_name">Bài học</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-laptop'></i>
                            <span class="links_name">Luyện tập</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bxs-bookmarks'></i>
                            <span class="links_name">Đã lưu</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-user'></i>
                            <span class="links_name">Người dùng</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-wrench'></i>
                            <span class="links_name">Cài đặt</span>
                        </a>
                    </li>
                </div>
            </div>
            <div id="logo">
                <a href="/"><img src="~/Img/logo.png"></a>
            </div>
            <div id="search">
                <i class='bx bx-search-alt'></i>
                <input type="text" placeholder="Tìm bài học...">
            </div>
            @using Microsoft.AspNetCore.Http;
            @using Newtonsoft.Json;
            @using HocGiDo_CORE.ModelsJson;
            @{
                var cookieRemember = Context.Request.Cookies["Remember"];
                UserInf userInf;
                if (cookieRemember != null)
                {
                    Context.Session.SetString("Logined", cookieRemember);
                }

                var logined = Context.Session.GetString("Logined");
                if (logined != null)
                {
                    userInf = JsonConvert.DeserializeObject<UserInf>(logined);
                    <div id="User" data-dropdown>
                        <img src="~/Img/avatarZL.jpg" data-dropdown-user>
                        <div class="popup">
                            <p>@userInf.user.HoTen</p>
                            <a class="inf" href="/thongtin"><i class='bx bxs-user-circle'></i>Thông tin tài khoản</a>
                            <a class="logoutA" href="/dangnhap"><i class='bx bx-log-out'></i>Đăng xuất</a>
                        </div>
                    </div>
                }
                else
                {
                    <a href="/dangnhap" class="loginA" style="text-decoration: none">
                        <div id="login">
                            <p>Đăng nhập</p>
                        </div>
                    </a>
                }
            }
        </div>
        @RenderBody()
        <div class="loadHere"></div>
        <div class="footer">
            <div id="footer-content">
                <div id="logo">
                    <img src="~/Img/logo.png">
                    <b><i><span style="color: #5271ff;">@@All Rights</span><span style="color: #f8d24e;"> Reserved</span></i></b>
                </div>
                <div id="about">
                    <h3>-Thành viên thực hiện</h3>
                    <ul>
                        <li>
                            <p>Diệp Quang Đức</p>
                        </li>
                        <li>
                            <p>Nguyễn Thanh Hào</p>
                        </li>
                        <li>
                            <p>Nguyễn Phát Thành Tài</p>
                        </li>
                    </ul>
                </div>
                <div id="listCourse">
                    <img src="~/Img/html.jpg">
                    <img src="~/Img/css.jpg">
                    <img src="~/Img/js.jpg">
                    <img src="~/Img/java.jpg">
                    <img src="~/Img/c.jpg">
                    <img src="~/Img/php.jpg">
                    <img src="~/Img/python.jpg">
                    <img src="~/Img/sql.jpg">
                </div>
            </div>
            <div id="descripsion">
                <p>
                    <b style="color: #f8d24e;">HOCGIDO</b> được tối ưu hóa cho việc học, kiểm tra và đào tạo. Các ví dụ có thể được đơn giản hóa để cải thiện khả năng đọc và hiểu cơ bản. Các hướng dẫn, tài liệu tham khảo và ví dụ được xem xét liên tục để
                    tránh sai sót, nhưng chúng tôi không thể đảm bảo tính đúng đắn hoàn toàn của tất cả nội dung. Trong khi sử dụng trang web này, bạn đồng ý đã đọc và chấp nhận các điều khoản sử dụng, cookie và chính sách bảo mật của chúng tôi. Copyright
                    2021 by <b style="color: #f8d24e;">HOCGIDO</b>. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>

</body>

</html>
<script type="text/javascript" src="~/js/index.js"></script>

@RenderSection("footer", false)
