@page "{bh?}"
@model HocGiDo_CORE.Pages.Adm.quanlycauhoiConModel
@{
    Layout = "";
}

<div class="leftInput">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="exam.MaBH" value="@Model.lessonId" />
        <input asp-for="exam.TenCauHoi" type="text" placeholder="Câu hỏi">
        <input type="radio" asp-for="exam.TheLoai" value="tracnghiem" checked><span>Trắc nghiệm</span>
        <input type="radio" asp-for="exam.TheLoai" value="tuluan"><span>Tự luận</span>
        <input asp-page-handler="AddExam" id="submit" type="submit" value="Thêm câu hỏi">
    </form>
</div>
<div class="listCourse" style="height: 350px;">
    <table>
        <tr>
            <th>Câu hỏi</th>
            <th>Số câu trả lời</th>
            <th>Hành động</th>
        </tr>
        @foreach (var items in Model.listQuestion.CauHoi)
        {
    <tr>
         <td>@items.MaCauHoi</td>
                @if (items.DapAn != null)
                {
                    <td>@items.DapAn.Count</td>
                }
                else
                {
                    <td>0</td>
                }
         <td>
            <p id="detail" onclick="modalPopup('exam', 'null', '@Html.Raw(Model.lessonId)', '@Html.Raw(items.MaCauHoi)')">Sửa đáp án</p>
            <p class="delete" id="deleteExam" data-id="@items.MaCauHoi">Xóa</p>
         </td>
    </tr>
        }
    </table>
</div>

<script>
    $(document).ready(function (e) {
        $(document).on('click', '#deleteExam', function () {
            var id = $(this).data("id").toString();
            if (confirm('Xóa câu hỏi này?')) {
                $.ajax({
                    type: "POST",
                    url: "/Adm/quanlycauhoiCon?handler=DeleteExam",
                    data: {
                        MaCH: id,
                        MaBH: '@Model.lessonId'
                    },
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },

                    success: function (response) {
                        window.location.reload(true);
                    }
                })
            } else {
                // Do nothing!
            }
        })
    })
</script>