@page
@model HocGiDo_CORE.Pages.Adm.quanlynguoidungModel
@{
    Layout = "_LayoutAdmin";
}

@section headerAdmin{
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/css/alert.css">
    <link rel="stylesheet" href="~/css/Admin/QLNguoiDung.css">
}

<div class="tittle">
    <h3>Quản lý người dùng</h3>
</div>
<div class="inputContain">
    <div class="search">
        <span class="las la-search"></span>
        <input type="text" placeholder="Tìm học viên">
    </div>
    <div class="listStuding">
        <table>
            <tr>
                <th>Mã học viên</th>
                <th>Họ & Tên</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Gmail</th>
                <th>Hành động</th>
            </tr>
            @foreach(var item in Model.listUser.NguoiDung)
            {
            <tr>
                <td>@item.MaND</td>
                <td>@item.HoTen</td>
                <td>@item.NgaySinh</td>
                <td>@item.Sdt</td>
                <td>@item.DiaChi</td>
                <td>@item.Email</td>
                <td>
                    <p id="toAdmin">Nâng lên Admin</p>
                    <p class="delete-user" data-matk="@item.MaTK" data-mand="@item.MaND" id="delete">Xóa</p>
                </td>
            </tr>   
            }
        </table>
    </div>
</div>

<script>
    $('.delete-user').click(function(){
        alert($(this).data('matk') + " --- " + $(this).data('mand'))
    })
</script>
