@page "{kh?}"
@model HocGiDo_CORE.Pages.Adm.quanlybaihocConModel
@{
    Layout = "";
}

<div class="inputContain">
    <div class="leftInput">
        <input type="text" placeholder="Tên bài học mới">
        <input type="text" placeholder="Video mới">
        <input type="text" placeholder="Giới thiệu">
        <div id="editor">
            <p>This is the editor content.</p>
        </div>
        <textarea rows="5" placeholder="Code mẫu" id="codeExample"></textarea>
        <input id="submit" type="submit" value="Thêm bài học">
    </div>
    <div class="listCourse">
        <table>
            <tr>
                <th>Tên Bài Học</th>
                <th>Lượt học</th>
                <th>Hành động</th>
            </tr>
            @foreach (var items in Model.listLesson.BaiHoc)
            {
                <tr>
                    <td>@items.TenBaiHoc</td>
                    <td>@items.LuocHoc</td>
                    <td>
                        <p id="detail" onclick="modalPopup('lesson', '@Html.Raw(items.MaKH)', '@Html.Raw(items.MaBaiHoc)', 'null')">Sửa</p>
                        <p id="delete">Xóa</p>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div style="clear: both;"> </div>
<br>
<br>
<br>
<div class="tittle2">
    <h3>Quản lý câu hỏi</h3>
</div>
<div class="inputContain">
    <div style="width:100%;">
        <select id="selectLesson" class="selectOption" style="width:100%;">
            <option>Chọn bài học</option>
            @foreach (var items in Model.listLesson.BaiHoc)
            {
                <option value="@items.MaBaiHoc">@items.TenBaiHoc</option>
            }
        </select>
    </div>
</div>

<div id="loadExamOfLesson"></div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Cập nhật bài học</h2>
        </div>
        <div class="modal-body" id="loadUpdate">

        </div>
    </div>
</div>

<script type="text/javascript " src="~/js/QLBaiHoc.js"></script>

<script>
    $('#selectLesson').on('change', function () {
        $('#loadExamOfLesson').load('/Adm/quanlycauhoiCon?bh=' + this.value);
    });
</script>

<script>
    function modalPopup(type, typeCode, id, questId) {
        // Get the modal
        var modal = document.getElementById("myModal");

        var span = document.getElementsByClassName("close")[0];

        modal.style.display = "block";

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        if (type == 'exam') {
            $('#loadUpdate').load('/Adm/suacauhoiCon?kh=' + typeCode + '&bh=' + id + '&questId=' + questId);
        }
        else {
            $('#loadUpdate').load('/Adm/suabaihocCon?kh=' + typeCode + '&bh=' + id);
            setCodeType('HTML', 'update');
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>
<script>
    CKEDITOR.replace('editor');

    function excuteCode() {
        console.log(CKEDITOR.instances.editor.getData());
        document.getElementById("codeResult").innerHTML = CKEDITOR.instances.editor.getData();
    }
</script>

