@page "{kh?}"
@model HocGiDo_CORE.Pages.Adm.quanlybaihocConModel
@{
    Layout = "";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
    }
}
@Html.AntiForgeryToken()

<div class="inputContain">
    <div class="leftInput">
        <form id="addLessonForm" method="post" enctype="multipart/form-data">
            <input name="MaKH" type="hidden" value="@Model.MaKH" />
            <input name="TenBaiHoc" type="text" placeholder="Tên bài học mới">
            <input name="Video" type="text" placeholder="Video mới">
            <input name="GioiThieu" type="text" placeholder="Giới thiệu">
            <div id="editor">
                <p>This is the editor content.</p>
            </div>
            <div class="example">
                <div id="choice">
                    <button type="button" class="btnChoice">HTML</button>
                    <button type="button" class="btnChoice">CSS</button>
                    <button type="button" class="btnChoice">JS</button>
                </div>
                <div class="code">
                    <textarea rows="5" placeholder="HTML" id="html"></textarea>
                </div>
                <div class="code">
                    <textarea rows="5" placeholder="CSS" id="css"></textarea>
                </div>
                <div class="code">
                    <textarea rows="5" placeholder="JS" id="js"></textarea>
                </div>
            </div>
            <input id="submit" type="submit" value="Thêm bài học">
        </form>
    </div>
    <div class="listCourse">
        <table>
            <tr>
                <th>Tên Bài Học</th>
                <th>Lượt học</th>
                <th>Hành động</th>
            </tr>
            @foreach (var items in Model.listLesson.BaiHoc)
            {
                <tr>
                    <td>@items.TenBaiHoc</td>
                    <td>@items.LuocHoc</td>
                    <td>
                        <p id="detail" onclick="modalPopup('lesson', '@Html.Raw(items.MaKH)', '@Html.Raw(items.MaBaiHoc)', 'null')">Sửa</p>
                        <p id="delete">Xóa</p>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div style="clear: both;"> </div>
<br>
<br>
<br>
<div class="tittle2">
    <h3>Quản lý câu hỏi</h3>
</div>
<div class="inputContain">
    <div style="width:100%;">
        <select id="selectLesson" class="selectOption" style="width:100%;">
            <option>Chọn bài học</option>
            @foreach (var items in Model.listLesson.BaiHoc)
            {
                <option value="@items.MaBaiHoc">@items.TenBaiHoc</option>
            }
        </select>
    </div>
</div>

<div id="loadExamOfLesson"></div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Cập nhật bài học</h2>
        </div>
        <div class="modal-body" id="loadUpdate">

        </div>
    </div>
</div>

<script>
    CKEDITOR.replace('editor');

    function excuteCode() {
        console.log(CKEDITOR.instances.editor.getData());
        document.getElementById("codeResult").innerHTML = CKEDITOR.instances.editor.getData();
    }
</script>

<script>
    var buttonChoice = document.querySelectorAll(".btnChoice");
    var textAreaCode = document.querySelectorAll(".code");
    var myCodeMirrorHtml;
    var myCodeMirrorCss;
    var myCodeMirrorJs;
    var myCodeMirrorJava;

    $(document).ready(function () {
        textAreaCode[0].style.display = "block";
        buttonChoice[0].classList.add("active");

        setCodeType('html', 'load');
        clickChoice();

        $('#selectLesson').on('change', function () {
            $('#loadExamOfLesson').load('/Adm/quanlycauhoiCon?bh=' + this.value);
        });

        $('#addLessonForm').on('submit', function (e) {
            e.preventDefault();
            console.log("vao lesson");

            var htmlArray = myCodeMirrorHtml.getValue().split(" ");
            var jsArray = myCodeMirrorCss.getValue().split(" ");
            var cssArray = myCodeMirrorJs.getValue().split(" ");

            var totalArray = [
                htmlArray, cssArray, jsArray
            ]

            var encryptLyThuyet = CryptoJS.AES.encrypt(CKEDITOR.instances.editor.getData(), $(this).find('input[name="MaKH"]').val().toString());
            var encryptCodeMau = CryptoJS.AES.encrypt(JSON.stringify(totalArray), $(this).find('input[name="MaKH"]').val().toString());

            var content = {
                'MaKH': $(this).find('input[name="MaKH"]').val(),
                'TenBaiHoc': $(this).find('input[name="TenBaiHoc"]').val(),
                'Video': $(this).find('input[name="Video"]').val(),
                'GioiThieu': $(this).find('input[name="GioiThieu"]').val(),
                'LyThuyet': encryptLyThuyet.toString(),
                'CodeMau': encryptCodeMau.toString()
            }

            $.ajax({
                type: "POST",
                url: "/Adm/quanlybaihocCon?handler=AddLesson",
                data: JSON.stringify(content),
                dataType: "json",
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },

                success: function (response) {
                    window.location.reload(true);
                }
            })
        })
    })

    function modalPopup(type, typeCode, id, questId) {
        var modal = document.getElementById("myModal");

        var span = document.getElementsByClassName("close")[0];

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
        }

        if (type == 'exam') {
            $('#loadUpdate').load('/Adm/suacauhoiCon?kh=' + typeCode + '&bh=' + id + '&questId=' + questId);
        }
        else {
            $('#loadUpdate').load('/Adm/suabaihocCon?kh=' + typeCode + '&bh=' + id);
            setCodeType('HTML', 'update');
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    function setCodeType(type, action) {
        if (action == 'load') {
            var codeExample = document.getElementById("codeExample");
        } else {
            var codeExample = document.getElementById("codeExampleUpdate");
        }

        switch (type) {
            case "html":
                myCodeMirrorHtml = CodeMirror.fromTextArea(document.getElementById("html"), {
                    tabSize: 4,
                    mode: "xml",
                    htmlMode: true,
                    theme: 'dracula',
                    styleActiveSelected: true,
                    styleActiveLine: true,
                    indentWithTabs: true,
                    matchBrackets: true,
                    highlightMatches: true,
                });
                myCodeMirrorCss = CodeMirror.fromTextArea(document.getElementById("css"), {
                    tabSize: 4,
                    mode: "css",
                    theme: 'dracula',
                    styleActiveSelected: true,
                    styleActiveLine: true,
                    indentWithTabs: true,
                    matchBrackets: true,
                    highlightMatches: true,
                });
                myCodeMirrorJs = CodeMirror.fromTextArea(document.getElementById("js"), {
                    tabSize: 4,
                    mode: "javascript",
                    theme: 'dracula',
                    styleActiveSelected: true,
                    styleActiveLine: true,
                    indentWithTabs: true,
                    matchBrackets: true,
                    highlightMatches: true,
                });
                break;
            case "java":
                myCodeMirrorJava = CodeMirror.fromTextArea(document.getElementById("java"), {
                    tabSize: 4,
                    mode: "css",
                    theme: 'dracula',
                    lineNumbers: true,
                    styleActiveSelected: true,
                    styleActiveLine: true,
                    indentWithTabs: true,
                    matchBrackets: true,
                    highlightMatches: true,
                });
                break;
            default:
                break;
        }
    }

    //choice
    function clickChoice() {
        buttonChoice.forEach(function (current, index) {
            buttonChoice[index].addEventListener("click", function () {
                textAreaCode.forEach(function (curr, ind) {
                    textAreaCode[ind].style.display = "none";
                })

                buttonChoice.forEach(function (cu, i) {
                    buttonChoice[i].classList.remove("active");
                })

                buttonChoice[index].classList.add("active");
                textAreaCode[index].style.display = "block";
            });
        })
    }
</script>

